@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply p-4
    }

    button {
        @apply text-white border bg-ihs-green border-ihs-green
        hover:bg-transparent hover:text-ihs-green rounded-md
    }

    html {
        font-family: 'Be Vietnam Pro', sans-serif;
    }
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}